<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dotNetRDF" version="1.0.13-pre7" targetFramework="net452" />
  <package id="DynamicSPARQL" version="1.0.2.2" targetFramework="net452" />
  <package id="DynamicSPARQL.dotNetRDF" version="1.0.0.3" targetFramework="net452" />
  <package id="HelperExtensionsLibrary" version="1.0.0.4" targetFramework="net452" />
  <package id="HtmlAgilityPack" version="1.4.9.5" targetFramework="net452" />
  <package id="LINQtoSPARQL" version="1.0.2.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net452" />
  <package id="VDS.Common" version="1.8.0-pre1" targetFramework="net452" />
</packages>